/* body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 47px;
  display: inline;
}

h2 {
  color: rgb(248, 199, 53);
  padding-bottom: px;
  border: 1px solid red;
  margin-top: 0px;
  margin: 0px;
}

p {
  border: 1px solid red;
  margin: 0px;
}

#topo {
  background-color: rgb(255, 198, 27);
  height: 70px;
  text-align: center;
  padding-top: 30px;
}

#corpo {
  width: 750px;
  border: 1px solid red;
  padding-top: 25px;
  position: relative;
  left: 200px;
}

.menu {
  background-color: rgb(255, 198, 27);
  text-align: center;
  padding: 10px;

}

.link-menu {
  background-color: rgb(255, 198, 27);
  font-size: 25px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.link-menu:link {
  color: white
}

.link-menu:visited {
  color: white;
}

.link-menu:hover {
  color: rgb(255, 198, 27);
  background-color: white;
}

.link-menu:active {
  color: rgb(103, 103, 103);
  background-color: white;
}

.link-corpo {
  color: rgb(255, 198, 27);
  padding-bottom: 10px;
}

.font-gray {
  color: rgb(103, 103, 103);
}

.font-white {
  color: white;
}

.font-text {
  font-size: 18px;
}

.clear {
  clear: both;
}

.borda {
  border: 1px solid red;
} */
/* Limpar formatações padrões */
/* seletor asterístico (*) serve para selecionar tudo */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #e6e6e6;
}

/* 
**** Layout ****
*/

#area-cabecalho {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
}

#area-logo {
  padding-bottom: 10px;
}



/* 
**** Menu links ****
*/

.menu-links {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

.menu-links:link, .menu-links:visited{
  color: white;
}

.menu-links:hover {
  color: #f7b600;
  background-color: white;
}

.menu-links:active {
  color: black;
  background-color: white;
}

/* 
**** Formatações gerais ****
*/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

.branco {
  color: white;
}